header {
	height: 95vh;

	position: relative;
	
	//set a background image with top green gradient layer
	background-image: linear-gradient(
		                  to right bottom, 
		                  rgba(126, 213, 111, 0.8), 
		                  rgba(40, 180, 131, 0.8)), 
	                  url("../images/backgrounds/header_bg.jpg");
	background-size: cover;
	background-position: top;
	
	//clip our background image according the design
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	.logo-box {
		position: absolute;
		top: 40px;
		left: 40px;

		.logo {
			height: 35px;
		}
	} // end of .logo-box

	.content-box {
		// align all the box almost by the center of the header
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		// ************
		text-align: center;

		.heading-primary {
			margin-bottom: 60px;

			color: $white_color;
			text-transform: uppercase;

			backface-visibility: hidden;
			
			.heading-primary-main {
				display: block;

				font-size: 60px;
				font-weight: 400;
				letter-spacing: 35px;

				// animate this text using keyframes
				animation-name: moveInLeft;
				animation-duration: 1s;
				animation-timing-function: ease-out;
			}

			.heading-primary-sub {
				display: block;

				font-size: 20px;
				font-weight: 700;
				letter-spacing: 17.4px;

				// animate this text using keyframes
				animation-name: moveInRight;
				animation-duration: 1s;
				animation-timing-function: ease-out;
			}
		} // end of .heading-primary

		.btn-animated {
			// animate this text using keyframes
			animation-name: moveInBottom;
			animation-duration:.5s;
			animation-timing-function: ease-out;
			animation-delay: .75s;
			animation-fill-mode: backwards;
		}
	} // end of .content-box
}